:root{
	

	/*watermelon*/
	--main-colora:#F56991;
	#354458
	
	/*dark orange*/
	--main-colorb:#FF9F80;
	#3A9AD9


	/*light orange*/
	--main-colorc:#FFC48C;
	#29ABA4

	/*honey*/
	--main-colord:#EFFAB4;
	E9E0D6

	/*lime*/
	--main-colore:#D1F2A5;
	EB7260


};
body{
	background-color: #005A31;
}

#menu{
	opacity:0.7;
}
.basic-text{
	font-size:21px;
	color:white;
}

.header-text{
	color:white;
}

.info{
	padding-bottom:10px;
	padding-top: 0px;
}

.color{color:#354458;}

#cover{
	background-image:url('cover1.jpg');
	height: 660px;
    background-color: #cccccc;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
  -ms-background-position-x: center;
  -ms-background-position-y: top;

}
#work{
	background-color: #3A9AD9;
	color:#354458;
}
#ec{
	background-color: #29ABA4;
	color:#354458;
}

#contact{
	background-color:#E9E0D6;
	color: #354458;
	border-color: #D1F2A5;
}
#contact-header{
	border-color: #354458;}

.centered{
text-align: center;
}

.indented{text-indent: 50px;}

#about{
	background-color: #354458;
}



